.env

# .gitignore for Terraform projects

# .terraform directories
.terraform
**/.terraform

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore plan output files
*.tfplan

# Ignore backup files created by Terraform
*.backup
